<h1>New Page</h1>
<form data-ng-submit="listingsNewVm.create()">
<p><input placeholder="Date" data-ng-model="listingsNewVm.listing.date" /></p>
<p><input placeholder="Start Time" data-ng-model="listingsNewVm.listing.time_start" /></p>
<p><input placeholder="End Time" data-ng-model="listingsNewVm.listing.time_end" /></p>
<p><input placeholder="Address" data-ng-model="listingsNewVm.listing.address" /></p>
<p><input placeholder="City" data-ng-model="listingsNewVm.listing.city" /></p>
<p><input placeholder="State" data-ng-model="listingsNewVm.listing.state" /></p>
<p><input placeholder="Zip Code" data-ng-model="listingsNewVm.listing.zipcode" /></p>
<p><input placeholder="County" data-ng-model="listingsNewVm.listing.county" /></p>
<p><input placeholder="Price" data-ng-model="listingsNewVm.listing.list_price" /></p>
<p><input placeholder="Property Status" data-ng-model="listingsNewVm.listing.property_status" /></p>
<p><input placeholder="Property Type" data-ng-model="listingsNewVm.listing.property_type" /></p>
<p><input placeholder="MLS Number" data-ng-model="listingsNewVm.listing.mls_num" /></p>
<p><input placeholder="Number of Bedrooms" data-ng-model="listingsNewVm.listing.bedrooms_num" /></p>
<p><input placeholder="Number of Full Bathrooms" data-ng-model="listingsNewVm.listing.full_baths" /></p>
<p><input placeholder="Number of Half Bathrooms" data-ng-model="listingsNewVm.listing.half_baths" /></p>
<p><input placeholder="Sponsors" data-ng-model="listingsNewVm.listing.sponsors" /></p>
<p><input placeholder="Property Description" data-ng-model="listingsNewVm.listing.property_description" /></p>
<p><input placeholder="Food Offered" data-ng-model="listingsNewVm.listing.food_offered" /></p>
<p><input placeholder="Food Description" data-ng-model="listingsNewVm.listing.food_description" /></p>
<p><input placeholder="Incentive" data-ng-model="listingsNewVm.listing.incentive" /></p>
<p><input placeholder="Image URL" data-ng-model="listingsNewVm.listing.property_image"></p>
<input type="submit" value="Add Listing" />
</form>
