<h1>Show Page</h1>

<p><a data-ui-sref="listingsEdit({id: listingsShowVm.listing.id})">Edit</a></p>

<p>Date {{listingsShowVm.listing.date | date: "longDate"}}</p>
<p>Time Start {{listingsShowVm.listing.time_start | date: "hh:mm a"}}</p>
<p>Time End {{listingsShowVm.listing.time_end | date: "hh:mm a"}}</p>
<p>Address {{listingsShowVm.listing.address}}</p>
<p>City {{listingsShowVm.listing.city}}</p>
<p>State {{listingsShowVm.listing.state}}</p>
<p>Zip Code{{listingsShowVm.listing.zipcode}}</p>
<p>County {{listingsShowVm.listing.county}}</p>
<p>List Price {{listingsShowVm.listing.list_price | currency}}</p>
<p>Property Status {{listingsShowVm.listing.property_status}}</p>
<p>Property Type {{listingsShowVm.listing.property_type}}</p>
<p>MLS Number {{listingsShowVm.listing.mls_num}}</p>
<p>Number Bedrooms {{listingsShowVm.listing.bedrooms_num}}</p>
<p>Number Full Bathrooms {{listingsShowVm.listing.full_baths}}</p>
<p>Number Half Bathrooms {{listingsShowVm.listing.half_baths}}</p>
<p>Sponsors {{listingsShowVm.listing.sponsors}}</p>
<p>Property Description {{listingsShowVm.listing.property_description}}</p>
<p>Food Offered {{listingsShowVm.listing.food_offered}}</p>
<p>Food Description {{listingsShowVm.listing.food_description}}</p>
<p>Listing Incentive {{listingsShowVm.listing.incentive}}</p>
<p><img data-ng-src="{{listingsShowVm.listing.property_image}}"></p>
