<h1>Edit Open</h1>
<form data-ng-submit="listingsEditVm.update()">
<div class="row">
    <div class="column">
      <p>Date: <input value="listingsShowVm.listing.date" data-ng-model="listingsEditVm.listing.date" /></p>
      <p>Start Time: <input value="listingsShowVm.listing.time_start" data-ng-model="listingsEditVm.listing.time_start" /></p>
      <p>End Time: <input value="listingsShowVm.listing.time_end" data-ng-model="listingsEditVm.listing.time_end" /></p>
      <p>Address: <input value="listingsShowVm.listing.address" data-ng-model="listingsEditVm.listing.address" /></p>
      <p>City: <input value="listingsShowVm.listing.city" data-ng-model="listingsEditVm.listing.city" /></p>
      <p>State: <input value="listingsShowVm.listing.state" data-ng-model="listingsEditVm.listing.state" /></p>
      <p>Zip Code: <input value="listingsShowVm.listing.zipcode" data-ng-model="listingsEditVm.listing.zipcode" /></p>
      <p>County: <input value="listingsShowVm.listing.county" data-ng-model="listingsEditVm.listing.county" /></p>
      <p>List Price: <input value="listingsShowVm.listing.list_price" data-ng-model="listingsEditVm.listing.list_price" /></p>
      <p>Property Status: <input value="listingsShowVm.listing.property_status" data-ng-model="listingsEditVm.listing.property_status" /></p>
      <p>Property Type: <input value="listingsShowVm.listing.property_type" data-ng-model="listingsEditVm.listing.property_type" /></p>
      <p>MLS Number: <input value="listingsShowVm.listing.mls_num" data-ng-model="listingsEditVm.listing.mls_num" /></p>
    </div>
    <div class="column">
      <p>Number of Bedrooms: <input value="listingsShowVm.listing.bedrooms_num" data-ng-model="listingsEditVm.listing.bedrooms_num" /></p>
      <p>Number of Full Bathrooms: <input value="listingsShowVm.listing.full_baths" data-ng-model="listingsEditVm.listing.full_baths" /></p>
      <p>Number of Half Bathrooms: <input value="listingsShowVm.listing.half_baths" data-ng-model="listingsEditVm.listing.half_baths" /></p>
      <p>Sponsors: <input value="listingsShowVm.listing.sponsors" data-ng-model="listingsEditVm.listing.sponsors" /></p>
      <p>Property Description: <input value="listingsShowVm.listing.property_description" data-ng-model="listingsEditVm.listing.property_description" /></p>
      <p>Food Offered? <input value="listingsShowVm.listing.food_offered" data-ng-model="listingsEditVm.listing.food_offered" /></p>
      <p>Food Description: <input value="listingsShowVm.listing.food_description" data-ng-model="listingsEditVm.listing.food_description" /></p>
      <p>Incentive: <input value="listingsShowVm.listing.incentive" data-ng-model="listingsEditVm.listing.incentive" /></p>
      <p>Image URL: <input value="listingsShowVm.listing.property_image" data-ng-model="listingsEditVm.listing.property_image"></p>
      <input type="submit" value="Update Open" />
      <button data-ng-click="listingsEditVm.destroy()">Delete</button>
    </div>
    <div class="column">
      <p style="font-size:5em; margin-top:0">¯\_(ツ)_/¯</p>
      <img style="max-width:100%" src="http://www.whitperson.com/wp-content/uploads/2013/03/anigif_enhanced-buzz-659-1342456499-13.gif">
    </div>
</div>
</form>
