<div class="row">
  <div class="column">
    <p class="status">{{listingsShowVm.listing.property_status}}</p>
    <p class="listing_description">{{listingsShowVm.listing.property_description}}</p>
    <img class="listings_show" data-ng-src="{{listingsShowVm.listing.property_image}}">
    <p class="MLS">MLS Number: {{listingsShowVm.listing.mls_num}} (<a data-ui-sref="listingsEdit({id: listingsShowVm.listing.id})">Edit Open</a>)</p>
  </div>

  <div class="column">
    <p class="list_price">{{listingsShowVm.listing.list_price | currency:$:0}}</p>
    <p class="address">{{listingsShowVm.listing.address}}<br>
      {{listingsShowVm.listing.city}}, {{listingsShowVm.listing.state}} {{listingsShowVm.listing.zipcode}}</p>

    <p>{{listingsShowVm.listing.property_type}}</p>
    <p>{{listingsShowVm.listing.bedrooms_num}} Bedrooms</p>
    <p>{{listingsShowVm.listing.full_baths}} Full Bathrooms</p>
    <p>{{listingsShowVm.listing.half_baths}} Half Bathrooms</p>
  </div>

  <div class="column">
    <div class="open_details">
      <p class="event_details">Event Details:</p>
      <p>Date: {{listingsShowVm.listing.date | date: "longDate"}}</p>
      <p>From {{listingsShowVm.listing.time_start | date: "hh:mm a"}} - {{listingsShowVm.listing.time_end | date: "hh:mm a"}}</p>
      <p>Sponsored by {{listingsShowVm.listing.sponsors}}</p>
      <p>{{listingsShowVm.listing.incentive}}</p>
      <p>Food Offered? {{listingsShowVm.listing.food_offered | boolText}}</p>
      <p>{{listingsShowVm.listing.food_description}}</p>
    </div>
  </div>

</div>
