html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

.angular-google-map-container {
  height: 400px;
}

body {
  margin: 0;
  background-color: white;
  font-family: helvetica, sans-serif;
  padding: 0;
  height: 100%;
}

main {
  margin: 2vw;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:grey;
}

ul.topnav li {float: left;}

ul.topnav li, ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 0.5em 0.5em;
  text-decoration: none;
  transition: 0.3s;
  font-size: 1em;
}

ul.topnav li a:hover {background-color: grey;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:880px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:880px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }

}

img.mini_me{
  max-width:10vw;
}
td, th{
  padding:10px;
  
}
