html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 400px;
}

body {
  margin: 0;
  background-color: white;
  font-family: helvetica, sans-serif;
  padding: 0;
  height: 100%;
  width:100vw;
}

main {
  margin: 2vw;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:grey;
}

ul.topnav li {float: left;}

ul.topnav li, ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 0.5em 0.5em;
  text-decoration: none;
  transition: 0.3s;
  font-size: 1em;
}

ul.topnav li a:hover {background-color: grey;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:880px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:880px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }

}

img.mini_me{
  max-width:10vw;
}
table{
  margin-top:1vw;
}
td, th{
  padding:10px;
  border: 1px outset #f6f6f6;
  background-color: #fff;
}
.search_opens{
  font-size: 1.25em;
  padding:0.5em;
  margin-top:1vw;
}
td a, a:visited{
  display:block;
  padding:3px;
  color:grey;
}
.row{
  display:flex;
}
div.column{
  display:inline;
  position:relative;
  box-sizing: border-box;
  width: 33.33%;
  padding:2%;
}

.listings_show{
  max-width:100%
}

.form{
  display:flex;
  margin-left:12vw;
}
.status{
  font-size: 2em;
  color: red;
  padding:0;
  margin:0;
}
.listing_description{
  font-style: italic;
}
.list_price{
  font-size: 1.5em;
  font-weight: bold;
}
.MLS{
  font-size: 0.8em;
  font-style: italic;
}
.address{
  border-radius: 10px;
  border: 2px outset #eee;
  padding: 1.5em;
  width:60%;
  font-weight: bold;
}
.open_details{
  margin-top: 2em;
  border: 2px outset #eee;
  border-radius: 10px;
  padding:1em;
  width:70%;
}
.event_details{
  font-size: 1.5em;
  font-weight: bold;
}
.agent_name, .listings{
  font-size: 2em;
}
main a, a:visited{
  color:grey;
}
