<h1>Edit Agent</h1>

<form data-ng-submit="usersEditVm.update()">
<p><input value="usersShowVm.user.profile.first_name" data-ng-model="usersEditVm.user.profile.first_name" /></p>
<p><input value="usersShowVm.user.profile.last_name" data-ng-model="usersEditVm.user.profile.last_name" /></p>
<p><input value="usersShowVm.user.profile.phone" data-ng-model="usersEditVm.user.profile.phone" /></p>
<p><input value="usersShowVm.user.profile.email" data-ng-model="usersEditVm.user.profile.email" /></p>
<p><input value="usersShowVm.user.profile.agency" data-ng-model="usersEditVm.user.profile.agency" /></p>
<p><input value="usersShowVm.user.profile.avatar" data-ng-model="usersEditVm.user.profile.avatar" /></p>
<input type="submit" value="Update Agent" />
<button data-ng-click="usersEditVm.destroy()">Delete</button>
</form>
