<div class="row">
  <div class="column">
    <p><img class="listings_show" data-ng-src="{{usersShowVm.user.profile.avatar}}"></p>
  </div>
  <div class="column">
    <p class="agent_name">{{usersShowVm.user.profile.first_name}} {{usersShowVm.user.profile.last_name}}</p>
    <p>Agency: {{usersShowVm.user.profile.agency}}</p>
    <p>Phone: {{usersShowVm.user.profile.phone}}</p>
    <p>Email: {{usersShowVm.user.profile.email}}</p>
    <p>(<a data-ui-sref="usersEdit({id: usersShowVm.user.profile.id})">Edit</a>)</p>

  </div>
  <div class="column">
    <p class="listings">Listings</p>
    <div data-ng-repeat="listing in usersShowVm.user.listings">
      <p><a data-ui-sref="listingsShow({id: listing.id})">{{listing.address}}</a></p>
    </div>
  </div>
<div>
