<h1>New User</h1>

<form data-ng-submit="usersNewVm.create()">
<p><input placeholder="First Name" data-ng-model="usersNewVm.user.first_name" /></p>
<p><input placeholder="Last Name" data-ng-model="usersNewVm.user.last_name" /></p>
<p><input placeholder="Phone" data-ng-model="usersNewVm.user.phone" /></p>
<p><input placeholder="Email" data-ng-model="usersNewVm.user.email" /></p>
<p><input placeholder="Agency" data-ng-model="usersNewVm.user.agency" /></p>
<p><input placeholder="Avatar" data-ng-model="usersNewVm.user.avatar" /></p>
<input type="submit" value="Create User" />
</form>
